<h2>MeetdaRoomie Features</h2>
<ul>
    <li *ngFor="let feature of features" (click)="onSelect(feature)">{{feature.name}}</li>
</ul>
<div *ngIf="selectedFeature">
    <h2>{{selectedFeature.name | uppercase}} Details </h2>
    <ul>
        <li *ngFor="let subdet of selectedFeature.subinformation">{{subdet}}</li>
    </ul>

</div>